body{
	background-color: black;
}
header{
	display: flex;
	margin: 0px;
	border-radius: 24px;
	padding: 0px;
	background: #02232e;
	font-family: metropolis;
	justify-content: space-between;
	align-items: center;
}
div a{
	display: flex;
	font-size: larger;
}
.logo{
	display: flex;
	align-items: center;
	margin: 10px;
}
.logo img{
	height: 50px;
	align-items: flex-start;
}
nav a{
	color: #ffffff;
	font-size: xx-large;
	padding-right: 12px;
	text-decoration: none;
	margin-right: 10px;

}
nav a:hover{
	color: #06d6a0;
}